.carousel {
    display: flex;
    overflow-x: scroll;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    background-color: white;
  }
  
  .carousel-item.selected {
    background-color: lightblue;
  }
  