/*=============== GOOGLE FONTS ===============*/
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800&family=Poppins:wght@400;500;600&family=Righteous&family=Roboto+Mono:wght@500&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: hsl(228, 15%, 50%);
  --text-color-light: hsl(228, 12%, 75%);
  --text-color-lighten: hsla(220, 8%, 92%, 1);
  --border-color: hsl(228, 99%, 98%);
  --body-color: hsl(244, 100%, 99%);
  --container-color: #fff;
  --shadow-bright: rgba(0, 212, 255, 1);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --title-font: 'Alegreya Sans', sans-serif;
  --body-font: 'Poppins', sans-serif;
  --custom-font: 'Righteous', cursive;
  --number-font: 'Roboto Mono', monospace;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --h4-font-size: .75rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

nav {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s;
  /* For animation dark mode */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  display: block;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== THEME ===============*/
.change-theme {
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

.change-theme:hover {
  color: var(--first-color);
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color: hsl(228, 66%, 62%);
  --second-color: hsl(25, 57%, 54%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 70%);
  --border-color: hsl(228, 16%, 14%);
  --body-color: hsl(228, 12%, 8%);
  --container-color: hsl(228, 16%, 12%);
  --text-color-lighten: rgb(59, 62, 66);
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/
.dark-theme .home__search,
.dark-theme .swiper-button-next,
.dark-theme .swiper-button-prev {
  border: 3px solid var(--border-color);
}

.dark-theme .nav,
.dark-theme .home__img,
.dark-theme .value__img,
.dark-theme .accordion-open,
.dark-theme .accordion-open .services__accordion-icon,
.dark-theme .accordion-open .services__accordion-arrow,
.dark-theme .accordion-open .value__accordion-icon,
.dark-theme .accordion-open .value__accordion-arrow,
.dark-theme .contact__img,
.dark-theme .contact__card-box:hover,
.dark-theme .scrollup {
  box-shadow: none;
}

.dark-theme .popular__card:hover,
.dark-theme .nav__menu {
  box-shadow: 0 0 6px var(--shadow-bright);
}

.dark-theme .value__orbe,
.dark-theme .value__accordion-icon,
.dark-theme .value__accordion-arrow,
.dark-theme .services__accordion-icon,
.dark-theme .services__accordion-arrow,
.dark-theme .list__icon,
.dark-theme .contact__orbe,
.dark-theme .contact__card i,
.dark-theme .contact__card-button,
.dark-theme .subscribe__container {
  background-color: var(--container-color);
}

.dark-theme .home__icon-1,
.dark-theme .home__icon-2 {
  color: var(--shadow-bright);
  opacity: .08;
}

.dark-theme .services__item-title,
.dark-theme .heading span {
  color: var(--shadow-bright);
}

.dark-theme .subscribe__container {
  border: 6px solid var(--border-color);
}

.dark-theme .subscribe__description {
  color: var(--text-color);
}

.dark-theme .filters__content {
  background-color: var(--body-color);
}

.dark-theme .filters .filter-tab-active {
  background-color: var(--text-color-lighten);
}

.dark-theme .filters__button {
  background-color: var(--body-color);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsla(228, 4%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsla(228, 4%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: var(--first-color);
}

.dark-theme .home {
  background: linear-gradient(352deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.dark-theme .home__orbe {
  background: linear-gradient(180deg,
      hsl(240, 86%, 25%) 53%,
      hsl(0, 0%, 3%) 100%);
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.col {
  flex: 1 0 0%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.align-items-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

/* .justify-content-end {
  justify-content: flex-end;
} */

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  position: relative;
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--second-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.justify {
  text-align: justify;
}

.text-center {
  text-align: center !important
}

.bg-parallax {
  background-attachment: fixed;
}

.bg-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(27, 26, 26, 0.25);
}

.main {
  overflow: hidden;
  /* For the animations ScrollReveal*/
}


/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .4s;
  /* For animation Dark Mode */
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: #fff;
  display: inline-flex;
  align-items: center;
  column-gap: .75rem;
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  transition: color .3s;
}

.nav__logo img {
  width: 35px;
}

.nav__logo span{
  font-family: var(--title-font);
}

.nav__logo:hover {
  color: var(--first-color);
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    background-color: var(--container-color);
    box-shadow: 0 0 6px var(--shadow-bright);
    opacity: 90%;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.3rem 3rem;
    border-radius: 2rem 2rem 0 0;
    transition: .4s;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: var(--text-color);
    display: flex;
    padding: .5rem;
    border-radius: 50%;
  }

  .nav__link i {
    font-size: 1.25rem;
  }

  .nav__link span {
    display: none;
  }

}


/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(228, 4%, 15%, .1);
}

.scroll-header .nav__logo {
  color: var(--first-color);
}

.scroll-header .change-theme {
  color: var(--title-color);
}


/* Active link */
.active-link {
  background: linear-gradient(101deg,
      hsl(228, 66%, 53%),
      hsl(228, 66%, 47%));
  color: #fff;
  box-shadow: 0 4px 8px hsla(228, 66%, 25%, .25);
}


/*=============== HOME ===============*/
.home {
  background: linear-gradient(35deg, rgb(255, 254, 255) 0%, rgba(0, 212, 255, 1) 35%, rgba(9, 9, 121, 1) 100%);

  /* background: linear-gradient(352deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  padding-bottom: 0;
}

.home__container {
  padding-top: 4rem;
  row-gap: 3.5rem;
}

.home__title,
.home__value-number {
  color: #fff;
}

.home__title {
  font-size: var(--biggest-font-size);
  line-height: 120%;
  margin-bottom: 1.25rem;
  font-family: var(--title-font);
}

.home__description {
  color: #fff;
  margin-bottom: 2rem;
}

.home__search {
  background-color: var(--body-color);
  padding: .35rem .35rem .35rem .75rem;
  display: flex;
  align-items: center;
  border-radius: .75rem;
  border: 3px solid var(--text-color-light);
  margin-bottom: 2rem;
}

.home__search i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__search-input {
  width: 90%;
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0 .5rem;
}

.home__search-input::placeholder {
  color: var(--text-color-light);
}

.home__value {
  display: flex;
  column-gap: 2.5rem;
}

.home__value-number {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  font-family: var(--number-font);
}

.home__value-number span {
  color: #fff;
}

.home__value-description {
  display: flex;
  color: #fff;
  font-size: var(--smaller-font-size);
}

.home__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.home__orbe {
  width: 265px;
  height: 284px;
  /* background: linear-gradient(180deg,
      hsl(190, 100%, 50%) 53%,
      hsl(0, 0%, 100%) 100%); */
  background-color: transparent;
  /* border-radius: 135px 135px 0 0; */
}

.home__img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  display: inline-flex;
  align-items: flex-end;
  bottom: -1.5rem;
  box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
}

.home__icon-1,
.home__icon-2 {
  position: absolute;
  opacity: .2;
}

.home__icon-1 {
  font-size: 170px;
  top: 8rem;
  left: -1rem;
  color: var(--first-color);
  transform: rotate(-20deg);
  opacity: .03;
}

.home__icon-2 {
  font-size: 170px;
  top: 8rem;
  right: -1rem;
  color: var(--first-color);
  transform: rotate(80deg);
  opacity: .03;
}


/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background: linear-gradient(101deg,
      hsl(228, 66%, 53%),
      hsl(228, 66%, 47%));
  color: #fff;
  padding: 14px 20px;
  border-radius: .5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, .25);
  transition: .3s;
  cursor: pointer;
  font-family: var(--custom-font);
}

.button:hover {
  box-shadow: 0 4px 12px hsla(228, 66%, 45%, .25);
}

.nav__button {
  display: none;
}




/*=============== LOGOS ===============*/
.logos__container {
  padding-top: 2rem;
  justify-items: center;
}

.logos__img img {
  height: 60px;
  opacity: .2;
  transition: .3s;
}

.logos__img img:hover {
  opacity: .6;
}

.logos__orbe {
  position: relative;
  display: flex;
  width: 100%;
  height: 196px;
  background: var(--text-color-light);
  border-radius: 10px 10px 10px 10px;
}


/*=============== ABOUT ===============*/
.about {
  margin-bottom: -2rem;
  
}

.about__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about__description {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  margin-bottom: 2rem;
  margin-right: 1rem;
  text-align: justify;
}

.about__lead {
  flex: 0 0 100%;
  max-width: 100%;
}

.about__lead span {
  color: var(--shadow-bright);
}


/*---------------------------
    Counters
--------------------------*/
.counter__container {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
}

.counter-item {
  justify-content: center;
  flex: 1 0 0%;
  margin-right: .50rem;
}

.counter__description {
  margin-bottom: 1.5rem;
  font-size: var(--small-font-size);
}

.counter-item .counter {
  color: var(--first-color);
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
  font-family: var(--number-font);
}

/*---------------------------
    lists
--------------------------*/
.list__container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex: 0 0 100%;
  max-width: 100%;
  margin-right: 1rem;
  padding-bottom: 10px;
}

.list__items {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.50rem;
  margin-right: 1rem;
}

.list__icon {
  background-color: var(--first-color-lighten);
  padding: 3px;
  border-radius: 5rem;
  font-size: 15px;
  color: var(--shadow-bright);
  margin-right: .75rem;
  transition: .3s;
}

.list__title {
  font-size: var(--normal-font-size);
}


/* Extra Small Devices */
@media (max-width: 767px) {
  .list__container .list__title {
    font-size: var(--small-font-size);
  }
}

/*---------------------------
    ABOUT IMAGE
--------------------------*/
.about__image {
  position: relative;
}

.about__image img {
  border-radius: 5px;
}

.about .about__image {
  padding-bottom: 40px;
}

.about .cta__banner {
  max-width: 200px;
  position: absolute;
  bottom: 0;
  left: 40px;
}

.about .cta__banner .cta__banner-title {
  line-height: 1.6;
}

.about .about__image {
  padding-bottom: 40px;
}


/*---------------------------
    CALL TO ACTION
--------------------------*/
.aboutcta__container {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 1.5rem;
}

.cta__banner {
  background-color: var(--first-color);
  max-width: 200px;
  padding: 40px;
  border-radius: 256px 256px 0 0;
  position: relative;
  opacity: 90%;
}

.cta__banner .cta__banner-title {
  font-size: 17px;
  color: #ffffff;
}

.cta__banner .cta__banner-icon {
  color: #ffffff;
}

.cta__banner .cta__banner-icon {
  line-height: 1;
  margin-bottom: 15px;
}

.cta__banner .cta__banner-icon i {
  font-size: 70px;
  line-height: 1;
  color: #ffffff;
}

.banner__icon {
  font-size: 18px;
  padding: 5px;
  border-radius: 5rem;
  background: var(--first-color-lighten);
  color: var(--first-color);
  margin-top: .5rem;
  margin-right: .75rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.banner__icon:hover {
  background-color: var(--first-color);
  color: #fff;
}

.cta__banner .btn:hover i {
  color: #ffffff;
  background-color: #0e2b5c;
}

/* Mobile Phones and tablets */
@media (min-width: 320px) and (max-width: 767px) {
  .cta__banner .cta__banner__title {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .about .cta__banner {
    padding: 20px;
  }
}

@media (max-width: 425px) {
  .about .cta__banner {
    width: 100%;
    max-width: 100%;
    position: static;
    border-radius: 5px;
  }
}

/*=============== SERVICES ===============*/
.services {
  position: absolute;
  
  /* outline: 1px solid limegreen; */
}

.services__container {
  margin: 0;
  padding: 1rem 0 3rem;
  /* margin-inline: auto;
  width: min(100% - 2rem, 600px); */
  /* outline: 1px solid limegreen; */
}

.heading span {
  color: var(--first-color);
}

.services__img {
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.services__list {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
  color: var(--body-color);
}

.services__list-item {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.50rem;
  margin-right: 1rem;
}

.services__list-title {
  font-size: var(--normal-font-size);
}

@media screen and (max-width: 576px) {
  .services__list {
    display: grid;
  }
}

@media (max-width: 767px) {
  .services__list-title {
    font-size: var(--small-font-size);
  }
}

.services__item {
  position: relative;
  margin-bottom: 30px;
  border-radius: 1rem;
  background-color: var(--container-color);
  transition: .4s;
}

.services__item-img {
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.services__item-title {
  font-size: var(--h2-font-size);
  margin-bottom: 25px;
  color: var(--first-color);
}

.services__item-desc {
  color: var(--title-color);
}

.services__item .services__item-desc {
  position: relative;
  font-size: var(--normal-font-size);
  line-height: 25px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #e7ebef;
}

.services__item .services__item-desc:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--shadow-bright);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.btn {
    display: inline-flex;
    align-items: center;
}

.btn span {
  font-size: 17px;
  margin-left: .50rem;
  color: var(--first-color);
}

.services__item:hover .btn span {
  font-size: 20px;
  transition: all 0.3s linear;
  color: var(--shadow-bright);
}

.services__item .btn {
  height: 32px;
  line-height: 32px;
}

.services__item .btn i {
  padding-left: 1px;
  font-size: 18px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-color: var(--first-color);
  color: var(--body-color);
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s linear;
}

.services__item:hover .btn i {
  font-size: 25px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: var(--shadow-bright);
}

.services__item:hover .services__item-desc:after {
  width: 100%;
}


.features-carousel .services__item {
  width: 290px;
  margin: 8px;
  padding: 50px;
  background-color: var(--container-color);
  box-shadow: 0px 5px 83px 0px rgba(40, 40, 40, 0.1);
  transition: .4s;
}

.features-carousel {
  overflow-x: hidden;
}

.bg-img {
  position: relative;
  z-index: 1;
}

.background-size-auto {
  background-size: auto;
}

.services__accordion-item {
  /* outline: 1px solid black; */
  padding: 5px 10px 10px;
  border-radius: .50rem;
  margin-bottom: 50px;
}

.services__accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px 10px 0;
  /* outline: 1px solid black; */

}

.services__accordion-icon {
  background-color: var(--first-color-lighten);
  padding: 5px;
  border-radius: .25rem;
  font-size: 18px;
  color: var(--first-color);
  margin-right: .75rem;
  transition: .3s;
}

.services__accordion-content {
  overflow: hidden;
  height: 0;
  transition: all .25s ease;
  margin-bottom: 10rem;
}

.services__accordion-title {
  font-size: var(--small-font-size);
}

.services__accordion-arrow {
  display: inline-flex;
  background-color: var(--first-color-lighten);
  padding: .25rem;
  color: var(--first-color);
  border-radius: 2px;
  font-size: 18px;
  margin-left: auto;
  transition: .3s;
}

.services__accordion-arrow i {
  transition: .4s;
}

/*Rotate icon and add shadows*/
.accordion-open {
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, .1);
}

.accordion-open .services__accordion-icon {
  box-shadow: 0 4px 4px hsla(228, 66%, 45%, .1);
}

.accordion-open .services__accordion-arrow {
  box-shadow: 0 2px 4px hsla(228, 66%, 45%, .1);
}

.accordion-open .services__accordion-arrow i {
  transform: rotate(-180deg);
}

/*-----------------------
    Features
------------------------*/
@media (max-width: 576px) {

  .about__description {
    font-size: var(--small-font-size);
  }

  .services__item .services__item-desc {
    font-size: var(--small-font-size);
    margin-bottom: 10px;
  }
}

/*============================ CONTACT =============================*/
.contact__container {
  row-gap: 3.5rem;
}

.contact__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.contact__title i {
  font-size: 1rem;
  font-weight: initial;
}

.contact__info,
.contact__data,
.contact__form {
  display: grid;
}

.contact__info {
  row-gap: 2rem;
}

.contact__data {
  row-gap: .75rem;
}

.contact__data-title {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  
}

.contact__data-info {
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  color: var(--title-color);
}

.contact__button {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.contact__button i {
  font-size: 1rem;
  transition: transform .3s;
}

.contact__button:hover i {
  transform: translateX(.25rem);
}

.contact__form {
  position: relative;
  row-gap: 2rem;
}

.contact__form-div {
  position: relative;
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 2rem;
  padding: 1.5rem;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--title-font);
  background: none;
  outline: none;
  z-index: 1;
}

.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  z-index: 10;
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding: .35rem;
  transition: background .4s; /* For dark mode animation */
}

.contact__form-area {
  height: 10rem;
}

.contact__form-area textarea {
  resize: none;
}

.contact__form .contact__button {
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  outline: none;
  margin-top: .75rem;
}

.contact__form .contact__button i {
  font-size: 1.5rem;
  font-weight: initial;
}

.contact__message {
  font-size: var(--small-font-size);
  position: absolute;
  bottom: 2.8rem;
  left: 1.5rem;
}



/* Status color */
.color-red {
  color: hsl(4, 71%, 50%);
}

.color-blue {
  color: hsl(207, 56%, 45%);
}

.contact .section__title,
.contact .section__subtitle {
  text-align: center;
}

.contact .section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.contact .section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}



/*=============== POPULAR ===============*/
.popular__container {
  padding: 1rem 0 5rem;
}

.popular__card {
  width: 290px;
  background-color: var(--container-color);
  padding: .5rem .5rem 1.5rem;
  border-radius: 1rem;
  margin: auto .15rem;
  transition: .4s;

}

.popular__img {
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.popular__data {
  padding: 0 1rem 0 .5rem;
}

.popular__price {
  font-size: var(--h2-font-size);
  color: var(--text-color);
  margin-bottom: .25rem;
}

.popular__price span {
  color: var(--second-color);
}

.popular__title {
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}

.popular__description {
  font-size: var(--small-font-size);
}

.popular__card:hover {
  box-shadow: 0 12px 16px hsla(228, 66%, 45%, .1);
}

/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-button-next,
.swiper-button-prev {
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  background-color: var(--container-color);
  border: 2px solid var(--text-color-light);
  padding: 6px;
  border-radius: .5rem;
  font-size: 1.5rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: calc(50% - 3rem);
}

.swiper-button-next {
  right: calc(50% - 3rem);
}



/*===================== FILTERS TAB =========================*/
.filters {
  position: relative;
  
}

.filters__content {
  width: 100%;
  margin-bottom: 1rem;
  /* background: linear-gradient(180deg,
                var(--text-color) 0%,
                var(--text-color-lighten) 100%); */
  border-radius: .75rem;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0;
}
.filters__button {
  outline: none;
  margin: 5px;
  padding: 5px;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  /* border: 1px solid #65c0e5; */
  border-radius: .4rem;
  cursor: pointer;
  background-color: var(--body-color);
  transition: .3s;
}
.filters__button:hover {
  background-color: var(--text-color-lighten);
}

/* Hide and show projects & skills */
.filters [data-content] {
  display: none;
}
.filters__active[data-content] {
  display: grid;
}
/* Activate button filter */
.filter-tab-active {
  background-color: var(--text-color-lighten);
}


/*====================== PROJECTS =====================*/
.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projects__card img {
  width: 100%;
  height: 100%;
}

.projects__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(180deg
              hsla(var(--hue), 24, 40, .3) 0%,
              hsla(var(--hue), 24%, 4%, 1) 95%);
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: .3s;
}

.projects__subtitle,
.projects__title {
  color: #fff;
}

.projects__subtitle {
  font-size: var(--smaller-font-size);
}

.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}

.projects__button {
  padding: .5rem;
}


/*====================== PROYEK =====================*/
.proyek__title span {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  color: var(--first-color);
  display: block;
  margin-bottom: 18px;
}

.portfolio-item {
  position: relative;
  margin-bottom: 30px;
}

.portfolio-item .portfolio-item__img {
  position: relative;
  overflow: hidden;
}

.portfolio-item .portfolio-item__img img {
  width: 100%;
  max-width: 100%;
  border-radius: 2px;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.portfolio-item:hover .portfolio-item__img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio-item .portfolio-item__content {
  padding-top: 26px;
}

.portfolio-item .portfolio-item__cat a {
  position: relative;
  font-size: 14px;
  color: #fdb900;
  padding-right: 7px;
}

.portfolio-item .portfolio-item__cat a:hover {
  color: #0b2653;
}

.portfolio-item .portfolio-item__cat a:after {
  content: ",";
  position: absolute;
  top: -2px;
  right: 2px;
  color: #fdb900;
}

.portfolio-item .portfolio-item__cat a:last-child:after {
  display: none;
}

.portfolio-item .portfolio-item__title {
  font-size: 21px;
  margin-bottom: 11px;
}

.portfolio-item .portfolio-item__title a {
  color: #0e2b5c;
}

.portfolio-item .portfolio-item__title a:hover {
  color: #fdb900;
}

.portfolio-item .portfolio-item__desc {
  font-size: 15px;
  margin-top: 18px;
  margin-bottom: 20px;
}

.portfolio-item .portfolio-item__hover {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: end;
  -webkit-box-align: end;
          align-items: flex-end;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 26, 26, 0.5)), color-stop(82%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(-180deg, rgba(27, 26, 26, 0.5) 0%, rgba(0, 0, 0, 0) 82%);
}

.portfolio-item .portfolio-item__hover .portfolio-item__content {
  padding: 30px;
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.portfolio-item .portfolio-item__hover .portfolio-item__title a {
  color: #ffffff;
}

.portfolio-item .portfolio-item__hover .portfolio-item__cat a {
  color: #f9f9f9;
}

.portfolio-item .portfolio-item__hover .portfolio-item__cat a:hover, .portfolio-item .portfolio-item__hover .portfolio-item__cat a:after {
  color: #f9f9f9;
}

.portfolio-item:hover .portfolio-item__hover {
  opacity: 1;
}

.portfolio-item:hover .portfolio-item__hover .portfolio-item__content {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.portfolio-filter li {
  margin-bottom: 20px;
  margin-right: 30px;
}

.portfolio-filter li:last-child {
  margin-right: 0;
}

.portfolio-filter li a {
  position: relative;
  color: #0b2653;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
  display: block;
  padding-bottom: 4px;
}

.portfolio-filter li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fdb900;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.portfolio-filter li a:hover,
.portfolio-filter li a.active {
  color: #fdb900;
}

.portfolio-filter li a:hover:after,
.portfolio-filter li a.active:after {
  width: 100%;
}

.mix {
  display: none;
}

.portfolio-hidden > .portfolio-item {
  display: none;
}

.portfolio-carousel .slick-list {
  margin: 0 -5px;
}

.portfolio-carousel .slick-slide {
  margin: 0 5px;
}

.portfolio-carousel .slick-dots {
  position: relative;
  z-index: 2;
  text-align: left;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}

.portfolio-carousel .portfolio-item .portfolio-item__hover {
  opacity: 1;
}

.portfolio-carousel .portfolio-item .portfolio-item__hover .portfolio-item__content {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.portfolio-carousel .btn__link {
  z-index: 3;
}

.portfolio-single .portfolio-item__icon {
  background-color: #ffffff;
  position: relative;
  width: 144px;
  height: 144px;
  padding: 10px;
  margin: -75px auto 0;
  border-radius: 50%;
}

.portfolio-single .portfolio-item__icon i {
  width: 124px;
  height: 124px;
  line-height: 124px;
  font-size: 75px;
  color: #fdb900;
  text-align: center;
  display: inline-block;
  border: 2px solid #fdb900;
  border-radius: 50%;
}

.portfolio-single .portfolio-item .portfolio-item__title {
  font-size: 35px;
  margin-bottom: 4px;
}

.portfolio-single .portfolio-item .portfolio-item__desc {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
  padding: 75px 110px 0;
}

.portfolio-single .portfolio-item .portfolio-item__content {
  padding-top: 15px;
}

.portfolio-slider .slick-arrow {
  width: 50px;
  height: 50px;
  line-height: 46px;
  border-radius: 50%;
  color: #51668a;
  border: 2px solid #51668a;
  background-color: #ffffff;
}

.portfolio-slider .slick-arrow:hover {
  color: #ffffff;
  background-color: #51668a;
}

.portfolio-slider .slick-arrow:before {
  font-size: 10px;
}

.portfolio-slider .slick-arrow.slick-next {
  right: 290px;
}

.portfolio-slider .slick-arrow.slick-next:before {
  content: "\e92a";
}

.portfolio-slider .slick-arrow.slick-prev {
  left: 290px;
}

.portfolio-slider .slick-arrow.slick-prev:before {
  content: "\e929";
}

.portfolio-item__meta-list li {
  font-size: 15px;
  margin-bottom: 13px;
}

.portfolio-item__meta-list li strong {
  color: #0b2653;
  display: inline-block;
  min-width: 120px;
}

.text-content .btn__lg i {
  color: #fdb900;
  background-color: #ffffff;
}

@media (min-width: 1500px) {
  .portfolio-carousel .slick-slider {
    width: 230%;
  }
}

@media (min-width: 1200px) {
  .portfolio-carousel .slick-slider {
    width: 120%;
  }
  .portfolio-slider .slick-slide {
    margin: 0 20px;
  }
  .portfolio-slider .slick-dots {
    margin-top: 15px;
  }
}

@media (max-width: 992px) {
  .portfolio-slider .slick-list {
    margin: 0 -5px;
  }
  .portfolio-slider .slick-slide {
    margin: 0 5px;
  }
  .portfolio-slider .slick-arrow.slick-next {
    right: 40px;
  }
  .portfolio-slider .slick-arrow.slick-prev {
    left: 40px;
  }
  .portfolio-single .portfolio-item .portfolio-item__desc {
    padding: 0;
  }
  .portfolio-carousel .nav-tabs {
    -ms-flex-pack: start !important;
    -webkit-box-pack: start !important;
            justify-content: flex-start !important;
  }
}

/* Mobile Phones and tablets */
@media (min-width: 320px) and (max-width: 767px) {
  .portfolio-item .portfolio-item__title {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .portfolio-filter li {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .portfolio-filter li a {
    font-size: 13px;
  }
  .portfolio-carousel .portfolio-item .portfolio-item__content {
    padding: 0 40px 20px 20px;
  }
  .portfolio-carousel .portfolio-item .portfolio-item__title {
    font-size: 18px;
    margin-top: 0;
  }
  .portfolio-carousel .portfolio-item .portfolio-item__desc {
    font-size: 13px;
    line-height: 22px;
  }
  .portfolio-carousel .slick-dots {
    text-align: center;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .portfolio-carousel .justify-content-end {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .portfolio-carousel .btn__link {
    margin-top: 15px;
  }
  .portfolio-standard .portfolio-item .portfolio-item__content {
    padding: 15px 15px 0 15px;
  }
}

@media (min-width: 320px) and (max-width: 370px) {
  .portfolio-carousel .portfolio-item .portfolio-item__content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .portfolio-carousel .portfolio-item .portfolio-item__desc {
    display: none;
  }
  .portfolio-item .portfolio-item__desc {
    font-size: 13px;
    line-height: 23px;
    margin-top: 10px;
  }
}

/*--------------------
    Tabs
--------------------*/
.nav-p {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav__link {
  display: block;
  position: relative;
  padding: 0 0 6px;
  margin: 0 30px 20px 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #0b2653;
}

.nav-tabs .nav__link:last-of-type {
  margin-right: 0;
}

.nav-tabs .nav__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.nav-tabs .nav__link.active,
.nav-tabs .nav__link:hover {
  color: var(--shadow-bright);
}

.nav-tabs .nav__link.active:after,
.nav-tabs .nav__link:hover:after {
  width: 100%;
}

.nav-tabs-white .nav__link {
  color: #ffffff;
}

.nav-tabs-white .nav__link.active, .nav-tabs-white .nav__link:hover {
  color: #ffffff;
}

.nav-tabs-white .nav__link:after {
  background-color: #fff;
}

/* Mobile Phones and tablets */
@media (min-width: 320px) and (max-width: 767px) {
  .nav-tabs .nav__link {
    font-size: 13px;
    margin: 0 10px 10px 0;
  }
}

/*----------------------
    Carousel
-----------------------*/
.slick-list {
  margin: 0 -10px;
}

.slick-slide {
  margin: 0 10px;
}

.m-slides-0 .slick-list {
  margin: 0;
}

.m-slides-0 .slick-slide {
  margin: 0;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #0b2653;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 0;
  z-index: 3;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.slick-arrow:hover {
  color: #0b2653;
}

.slick-arrow.slick-next:before, .slick-arrow.slick-prev:before {
  font-family: 'icomoon';
  font-size: 55px;
}

.slick-arrow.slick-next {
  right: 0;
}

.slick-arrow.slick-next:before {
  content: "\e924";
}

.slick-arrow.slick-prev {
  left: 0;
}

.slick-arrow.slick-prev:before {
  content: "\e923";
}

.carousel-arrows-light .slick-arrow {
  color: white;
}

.carousel-arrows-light .slick-arrow:hover {
  color: #ffffff;
}

.slick-dots {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
  z-index: 2;
}

.slick-dots li {
  display: inline-block;
  margin: 5px;
  position: relative;
  z-index: 1;
  padding: 0;
  font-size: 0;
  width: 26px;
  height: 4px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #51668a;
}

.slick-dots li button {
  font-size: 0;
  width: 100%;
}

.slick-dots li.slick-active {
  background-color: #fdb900;
}

.carousel-dots-light .slick-dots li {
  background-color: white;
}

.carousel-dots-light .slick-dots li.slick-active {
  background-color: #ffffff;
}

/*------------------------
    Slider 
--------------------------*/
.header-transparent + .slider {
  margin-top: -100px;
}

.header-transparent + .slider .slide-item {
  padding-top: 100px;
  height: 100vh;
}

.slider {
  padding: 0;
  overflow-x: hidden;
}

.slider .slide-item {
  height: calc(100vh - 160px);
  min-height: 520px;
}

.slider .slide__subtitle {
  display: block;
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #f9f9f9;
  margin-bottom: 8px;
}

.slider .slide__title {
  font-size: 80px;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.slider .slide__desc {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  color: #ffffff;
  max-width: 650px;
  margin-bottom: 30px;
}

.slider .btn__lg {
  min-width: 200px;
}

.slider .btn__white:before {
  background-color: #0e2b5c;
}

.slider .slick-dots {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
}

.slider .slick-arrow {
  width: 50px;
  height: 50px;
  line-height: 46px;
  border-radius: 50%;
  color: #51668a;
  border: 3px solid #51668a;
  background-color: #ffffff;
}

.slider .slick-arrow:hover {
  color: #ffffff;
  background-color: #51668a;
}

.slider .slick-arrow:before {
  font-size: 10px;
}

.slider .slick-arrow.slick-next {
  right: 35px;
}

.slider .slick-arrow.slick-next:before {
  content: "\e92a";
}

.slider .slick-arrow.slick-prev {
  left: 35px;
}

.slider .slick-arrow.slick-prev:before {
  content: "\e929";
}

.slider .info__slider {
  position: relative;
  width: 250px;
  padding: 30px;
  border-radius: 2px;
  background-color: #ffffff;
}

.slider .info__slider:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30px;
  width: calc(100% - 60px);
  height: 3px;
  background-color: #fdb900;
}

.slider .info__slider .info__slider-icon {
  font-size: 70px;
  line-height: 1;
  margin-bottom: 10px;
}

.slider .info__slider .info__slider-icon i {
  line-height: 1;
}

.slider .info__slider .info__slider-title {
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: .5px;
  margin-bottom: 10px;
}

.slider .info__slider .info__slider-desc {
  font-size: 14px;
  line-height: 24px;
}

.slider .info__slider .btn:hover {
  color: #fdb900;
}

.slider .info__slider .btn i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #fdb900;
}

@media (min-width: 1200px) {
  .slider .slick-arrow.slick-next {
    right: 30px;
  }
  .slider .slick-arrow.slick-prev {
    left: 30px;
  }
  .slider-layout3 .slide__title {
    font-size: 75px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .slider .slide-item {
    padding-right: 50px;
    padding-left: 50px;
  }
  .slider .slick-arrow.slick-prev {
    left: 10px;
  }
  .slider .slick-arrow.slick-next {
    right: 10px;
  }
}

/* Large Size Screens */
@media (min-width: 992px) and (max-width: 1200px) {
  .slider .slide__title {
    font-size: 65px;
  }
}

/* Medium Size Screens */
@media (min-width: 768px) and (max-width: 991px) {
  .slider .slide__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
  }
}

/* Mobile Phones and tablets */
@media (min-width: 320px) and (max-width: 767px) {
  .header-transparent + .slider {
    margin-top: 0;
  }
  .slider {
    overflow: hidden;
  }
  .slider .slide-item {
    padding: 100px 10px;
  }
  .slider .slide-item {
    height: auto;
    min-height: 0;
  }
  .slider .slide__desc {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

/*  Small Screens and tablets  */
@media (min-width: 576px) and (max-width: 767px) {
  .slider .slide__title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  .slider .slick-arrow.slick-prev {
    left: 0;
  }
  .slider .slick-arrow.slick-next {
    right: 0;
  }
}

/* Extra Small Devices */
@media (min-width: 320px) and (max-width: 575px) {
  .slider .slide__subtitle {
    margin-bottom: 15px;
  }
  .slider .slide__title {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 10px;
  }
  .slider .btn {
    margin-bottom: 10px;
  }
  .slider .slick-arrow {
    display: none;
  }
}


/*=============== VALUE ===============*/
.value__container {
  row-gap: 3rem;
}

.value__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.value__orbe {
  width: 266px;
  height: 316px;
  background-color: hsl(228, 24%, 97%);
  border-radius: 135px 135px 16px 16px;
}

.value__img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  inset: 0;
  margin: auto;
  box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
}

.value__description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.value__accordion {
  display: grid;
  row-gap: 1.5rem;
}

.value__accordion-item {
  background-color: var(--body-color);
  border: 2px solid var(--border-color);
  border-radius: .5rem;
  padding: 1rem .75rem;
}

.value__accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.value__accordion-icon {
  background-color: var(--first-color-lighten);
  padding: 5px;
  border-radius: .25rem;
  font-size: 18px;
  color: var(--first-color);
  margin-right: .75rem;
  transition: .3s;
}

.value__accordion-title {
  font-size: var(--small-font-size);
}

.value__accordion-arrow {
  display: inline-flex;
  background-color: var(--first-color-lighten);
  padding: .25rem;
  color: var(--first-color);
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  transition: .3s;
}

.value__accordion-arrow i {
  transition: .4s;
}

.value__accordion-description {
  font-size: var(--smaller-font-size);
  padding: 1.25rem 2.5rem 0 2.75rem;
}

.value__accordion-content {
  overflow: hidden;
  height: 0;
  transition: all .25s ease;
}

/*Rotate icon and add shadows*/
.accordion-open {
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, .1);
}

.accordion-open .value__accordion-icon {
  box-shadow: 0 4px 4px hsla(228, 66%, 45%, .1);
}

.accordion-open .value__accordion-arrow {
  box-shadow: 0 2px 4px hsla(228, 66%, 45%, .1);
}

.accordion-open .value__accordion-arrow i {
  transform: rotate(-180deg);
}


/*=============== CONTACT ===============*/
.contact__container {
  row-gap: 2rem;
}

.contact__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.contact__orbe {
  width: 266px;
  height: 316px;
  background-color: hsl(228, 24%, 97%);
  border-radius: 135px 135px 16px 16px;
}

.contact__img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  inset: 0;
  margin: auto;
  box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
}

.contact__description {
  font-size: var(--small-font-size);
  margin-bottom: 2.5rem;
}

.contact__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem .75rem;
}

.contact__card-box {
  background-color: var(--body-color);
  border: 2px solid var(--border-color);
  padding: 1.25rem .75rem;
  border-radius: .5rem;
  transition: .3s;
}

.contact__card-info {
  display: flex;
  align-items: flex-start;
  column-gap: .75rem;
  margin-bottom: 1.25rem;
}

.contact__card i {
  padding: 6px;
  background-color: var(--first-color-lighten);
  border-radius: 6px;
  font-size: 1.25rem;
  color: var(--first-color);
}

.contact__card-title {
  font-size: var(--normal-font-size);
}

.contact__card-description {
  font-size: var(--smaller-font-size);
}

.contact__card-button {
  font-size: var(--small-font-size);
  padding: 14px 0;
  width: 100%;
  border-radius: .25rem;
  background: var(--first-color-lighten);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  box-shadow: none;
}

.contact__card-button:hover {
  background-color: var(--first-color);
  color: #fff;
}

.contact__card-box:hover {
  box-shadow: 0 8px 24px hsla(228, 66%, 45%, .1);
}

/*=============== SUBSCRIBE ===============*/
.subscribe {
  padding: 2.5rem 0;
}

.subscribe__container {
  background-color: var(--first-color);
  padding: 3rem 2rem;
  border-radius: 1.25rem;
  border: 6px solid var(--first-color-light);
  text-align: center;
}

.subscribe__title {
  font-size: var(--h2-font-size);
  color: #fff;
  margin-bottom: 1rem;
}

.subscribe__description {
  color: hsl(228, 90%, 92%);
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.subscribe__button {
  border: 2px solid #fff;
  background: var(--first-color-light);
  font-size: var(--small-font-size);
}

.subscribe__button:hover {
  background-color: var(--first-color);
}


/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 2.5rem;
}

.footer__logo {
  color: var(--first-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  margin-bottom: .75rem;
}

.footer__logo i {
  font-size: 1.25rem;
}

.footer__description,
.footer__link {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.footer__content,
.footer__links {
  display: grid;
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 4rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links {
  row-gap: .5rem;
}

.footer__link {
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__social-link:hover {
  color: var(--title-color);
}

.footer__info,
.footer__privacy {
  display: flex;
}

.footer__info {
  padding-bottom: 6rem;
  margin-top: 5.5rem;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}

.footer__copy,
.footer__privacy a {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.footer__privacy {
  justify-content: center;
  column-gap: 1.25rem;
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(228, 8%, 76%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(228, 8%, 64%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 8%, 54%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 8px 12px hsla(228, 66%, 45%, .1);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  color: var(--title-color);
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: .3s;
}
.scrollup:hover {
  transform: translateY(-.25rem);
  color: var(--first-color);
}
/* Show Scroll Up*/
.show-scroll {
  bottom: 8rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section {
    padding: 3.5rem 0 1rem;
  }

  .home {
    padding-bottom: 0;
  }

  .contact__card {
    grid-template-columns: repeat(1, 180px);
    justify-content: center;
  }

  .counter-item .counter {
    font-size: 25px;
  }

  .counter-item .counter__description {
    font-size: var(--small-font-size);
    line-height: 20px;
    padding-right: 0;
  }
  
  .counter__container {
    display: grid;
  }
}

@media screen and (max-width: 410px) {
  .list__container {
    display: grid;
  }
}

@media screen and (max-width: 320px) {
  .nav__menu {
    padding: 1.3rem 1.5rem;
  }
  .home__value {
    column-gap: 1rem;
  }
  .home__img {
    width: 220px;
    height: 280px;
  }
  .home__orbe {
    width: 240px;
    height: 264px;
  }
  .logos__orbe {
    height: 180px;
  }
  .logos__container {
    gap: 2rem 1rem;
  }
  .popular__card {
    width: 230px;
    padding: .5rem .5rem .75rem;
  }
  .value__img,
  .contact__img {
    width: 228px;
    height: 260px;
  }
  .value__orbe,
  .contact__orbe {
    width: 236px;
    height: 280px;
  }
  .subscribe__container {
    padding: 2rem 1rem;
  }
  .footer__content {
    gap: 2.5rem;
  }
  .counter-item .counter {
    font-size: 25px;
  }
  .counter-item .counter__description {
    font-size: 11px;
    line-height: 20px;
    padding-right: 0;
  }
  .services__container {
    margin: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .features-carousel .services__item {
    padding: 8px;
    width: 100%;
  }
  .services__item-title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 320px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .counter-item .counter {
    font-size: 25px;
  }
  .counter-item .counter__description {
    font-size: 11px;
    line-height: 20px;
    padding-right: 0;
    max-width: 100%;
  }
  .services__container {
    margin: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .services__item-title {
    font-size: 1rem;
  }
  .features-carousel .services__item {
    padding: 17px;
    width: 100%;
  }
  .services__accordion-arrow {
    font-size: 13px;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .nav__menu {
    width: 342px;
  }
  .home__search {
    width: 412px;
  }
  .contact__card {
    grid-template-columns: repeat(2, 192px);
    justify-content: center;
  }
  .footer__content {
    grid-template-columns: repeat(3, max-content);
  }
  .logos__orbe {
    height: 324px;
  }
  .counter-item .counter {
    font-size: 25px;
  }
  .counter-item .counter__description {
    font-size: 11px;
    line-height: 20px;
    padding-right: 0;
    max-width: 100%;
  }
  .about__lead {
    max-width: 100%;
  }
  .services__container,
  .proyek__list,
  .proyek__title,
  .proyek__item {
    margin: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .services__item-title {
    font-size: 1.5rem;
  }
  .services__accordion-title {
    font-size: var(--normal-font-size);
  }
  .features-carousel .services__item {
    width: 100%;
    padding: 20px;
  }

  .projects__content {
    grid-template-columns: 332px;
    justify-content: center;
  }

  .filters__content {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
  
  .filters__button {
    justify-items: center;
  }
}

@media screen and (min-width : 767px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }
  .home__orbe {
    align-self: flex-end;
  }
  .logos__orbe {
    width: 730px;
    height: 410px;
  }
  .home__data {
    padding-bottom: 2rem;
  }
  .logos__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
  }
  .value__container,
  .contact__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .contact__images {
    order: 1;
  }
  .contact__card {
    justify-content: initial;
  }
  .subscribe__container {
    padding: 3rem 13rem;
  }
  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .services__container {
    margin: .4rem;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .services__item-title {
    font-size: 2rem;
  }
  .features-carousel .services__item {
    width: 70%;
    padding: 25px;
    margin: 10px;
  }
  .proyek__list,
  .proyek__title,
  .proyek__item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .projects__content,
  .skills__content {
    grid-template-columns: repeat(2, 332px);
  }

  .skills__content {
    justify-content: center;
    column-gap: 3rem;
  }
  
}

/* For large devices */
@media screen and (min-width: 1023px) {
  section {
    padding: 7.5rem 0 1rem;
  }
  .section__title {
    font-size: 2.25rem;
  }
  .section__subtitle {
    font-size: var(--normal-font-size);
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .dark-theme .nav__menu {
    box-shadow: none;
  }
  .nav__menu {
    width: initial;
    margin-left: auto;
    box-shadow: none;
  }
  .nav__list {
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    color: var(--text-color-light);
    font-family: var(--custom-font);
  }
  .nav__link i {
    display: none;
  }
  .nav__button {
    display: inline-block;
    padding: 14px 14px;
  }
  .nav__logo img {
    width: 60px;
  }
  .nav__logo span {
    display: none;
  }
  .active-link {
    background: none;
    box-shadow: none;
    color: var(--first-color);
    font-weight: var(--font-medium);
  }
  .change-theme {
    margin: 0 3rem;
    color: var(--text-color-light);
  }
  .scroll-header .nav__link,
  .scroll-header .change-theme {
    color: var(--text-color);
  }
  .scroll-header .active-link {
    color: var(--first-color);
  }
  .home {
    padding-bottom: 0;
  }
  .home__container {
    padding-top: 5rem;
    column-gap: 2rem;
  }
  .home__data {
    padding-bottom: 4rem;
  }
  .home__title {
    margin-bottom: 2rem;
  }
  .home__description,
  .home__search {
    margin-bottom: 3rem;
  }
  .home__value {
    column-gap: 3.5rem;
  }
  .home__orbe {
    width: 504px;
    height: 611px;
    border-radius: 256px 256px 0 0;
  }
  .logos__orbe {
    width: 980px;
    height: 551px;
  }
  .home__img {
    width: 472px;
    height: 634px;
    border-radius: 236px 236px 12px 12px;
    bottom: -2.5rem;
  }
  .logos__img img {
    height: 100px;
  }
  .about {
    margin-bottom: -4rem;
  }
  .popular__container {
    padding-top: 3rem;
  }
  .popular__card {
    width: 320px;
    padding: .75rem .75rem 2rem;
  }
  .popular__data {
    padding: 0 .25rem 0 .75rem;
  }
  .value__container,
  .contact__container {
    align-items: flex-start;
    column-gap: 5rem;
  }
  .value__orbe,
  .contact__orbe {
    width: 501px;
    height: 641px;
    border-radius: 258px 258px 16px 16px;
  }
  .value__img,
  .contact__img {
    width: 461px;
    height: 601px;
    border-radius: 238px 238px 12px 12px;
  }
  .value__img img,
  .contact__img img {
    max-width: initial;
    width: 490px;
  }
  .value__description,
  .contact__description,
  .services__item-desc {
    font-size: var(--normal-font-size);
    margin-bottom: 2.5rem;
  }
  .value__accordion-title {
    font-size: var(--normal-font-size);
  }
  .value__accordion-item {
    padding: 1.25rem 1.25rem 1.25rem 1rem;
  }
  .services__accordion-item {
    padding: 1.25rem 1.25rem 1.25rem 1rem;
  }
  .value__accordion-description {
    padding-bottom: 1rem;
    font-size: var(--small-font-size);
  }
  .contact__card {
    grid-template-columns: repeat(2, 200px);
  }
  .contact__card-box {
    padding: 28px 1.5rem 1.5rem;
  }
  .subscribe__container {
    padding: 4rem 10rem 4.5rem;
    border-radius: 2rem;
    border: 12px solid var(--first-color-light);
  }
  .subscribe__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .subscribe__description {
    font-size: var(--normal-font-size);
    padding: 0 8rem;
  }
  .subscribe__button {
    font-size: var(--normal-font-size);
  }
  .footer__content {
    grid-template-columns: repeat(4, max-content);
  }
  .footer__title {
    margin-bottom: 1.5rem;
  }
  .footer__links {
    row-gap: 1rem;
  }
  .footer__info {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
  .show-scroll {
    bottom: 3rem;
    right: 3rem;
  }
  .about .counter__container .counter-item {
    margin-left: 30px;
  }
  .about__lead,
  .aboutcta__container,
  .counter__container {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .counter-item .counter {
    color: var(--first-color);
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
  }
  .counter-item .counter__description {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
    padding-right: 40px;
  }
  .services__container {
    margin: 1rem;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .services__item-title {
    font-size: 2.25rem;
  }
  .features-carousel .services__item {
    padding: 40px;
  }
  .services__accordion-header {
    margin-top: -1.5rem;
    /* outline: 1px solid black; */
  }
  .services__accordion-arrow {
    font-size: 17px;
  }
  .features-carousel .services__item {
    width: 60%;
    padding: 30px;
    margin: 20px;
  }
  .proyek__list {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .proyek__title {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .proyek__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .projects__content {
    gap: 2rem 3rem;
  }
  .services {
    margin-top: 4rem;
  }
  .projects__modal {
    padding: 1.5rem;
  }
  
}

@media screen and (min-width: 1040px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__container {
    column-gap: 4rem;
  }
}

/* For 2K & 4K resolutions */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.5;
  }
}

@media screen and (min-width: 3840) {
  body {
    zoom: 2;
  }
}